---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$base-ff:          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$head-ff:          'Raleway', sans-serif;
$base-fs:          18px;
$base-fw:          400;
$small-fs:         $base-fs * 0.775;
$base-lh:          1.7;
$color:            #555;
$brand-color:      {{site.color-scheme}};
$h-color:          #eee;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


/***
 *
 *     ,-----.       ,--.                               ,--.
 *    '  .--./ ,---. |  | ,---. ,--.--.     ,---.  ,---.|  ,---.  ,---. ,--,--,--. ,---.
 *    |  |    | .-. ||  || .-. ||  .--'    (  .-' | .--'|  .-.  || .-. :|        || .-. :
 *    '  '--'\' '-' '|  |' '-' '|  |       .-'  `)\ `--.|  | |  |\   --.|  |  |  |\   --.
 *     `-----' `---' `--' `---' `--'       `----'  `---'`--' `--' `----'`--`--`--' `----'
 *
 */



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "loader",
        "google-fonts",
        "base",
        "style",
        "aos",
        "post",
        "toc",
        "table",
        "contact",
        "pagination",
        "syntax-highlighting",
        "breadcrumbs",
        "recent",
        "author",
        "share",
        "skillbar",
        "custom"

;
